spring:
  application:
    name: config-server
  profiles:
    active: 
    - native
  
  cloud:
    config:
      server:
        native:
          search-locations: 
          - classpath:/config  #属于4中默认的一种，可以不写
    
  rabbitmq:
    host: 192.168.74.135
    port: 5672
    username: admin
    password: admin
  
#  cloud:
#    config:
#      server:
#        git:
#          uri: https://github.com/yalin001/sp-config
#          search-paths: 
#          - config    #路径uri下的目录，可以有多个
#          
          #私有库添加用户名和密码
          #username: your-username
          #password: your-password
    
server:
  port: 6001
    
eureka:
  client:
    service-url:
      defaultZone: http://eureka1:2001/eureka, http://eureka2:2002/eureka

  instance:
    prefer-ip-address: true
    instance-id: ${spring.cloud.client.ip-address}:${spring.application.name}:${server.port}
management:
  endpoints:
    web:
      exposure:
        include: bus-refresh